.content_head{
				color: #A9C6FA;
}
.sub_head{
	background-color:#508FAE;
}
#leftcolumn{
float:left;
width:90%;
border: 3px solid black;
padding: 5px;
padding-left: 8px;
}

#rightcolumn{
float:left;
width:90%;
min-height: 400px;
border: 3px solid black;
padding: 5px;
padding-bottom: 8px;
}

* html #rightcolumn{ /*IE only style*/
height: 400px;
}

.daemon_kml {
	text-align: center;
}

.cell_top_mid {
	border-width: 0px;
	background-image: url('img/cell_top_middle.png');
	background-repeat: repeat-x;
}
.cell_top_right {
	border-width: 0;
	background-image: url('img/cell_top_right.png');
	background-repeat: no-repeat;
	white-space: nowrap;
}
.cell_top_left {
	background-image: url('img/cell_top_left.png');
	background-repeat: no-repeat;
	border-width: 0px;
	white-space: nowrap;
}
.cell_side_left {
	background-image: url('img/cell_side_left.png');
	background-repeat: repeat-y;
	white-space: nowrap;
}
.cell_bot_left {
	background-image: url('img/cell_bot_left.png');
	background-repeat: no-repeat;
	white-space: nowrap;
}
.cell_bot_mid {
	background-image: url('img/cell_bot_middle.png');
	background-repeat: repeat-x;
	white-space: nowrap;
}
.cell_bot_right {
	background-image: url('img/cell_bot_right.png');
	background-repeat: no-repeat;
	white-space: nowrap;
}
.cell_side_right {
	background-image: url('img/cell_side_right.png');
	background-repeat: repeat-y;
	white-space: nowrap;
}
.cell_color {
	background-color: #6388c7;
}
a {
	color: #091E3E;
}
a:visited {
	color: #002448;
}
.inside_dark_header {
	text-align: center;
	color: #FFFFFF;
	background-color: #003366;
	font-weight: bold;
}
.inside_header {
	color: #003366;
	font-size: 22pt;
	text-align: center;
}
.inside_text {
	text-align: left;
	color: #002448;
}
.inside_text_center {
	text-align: center;
	color: #ffffff;
}
.inside_sub_text {
	color: #145285;
	font-size: x-small;
}
.no_border {
	border-width: 0;
}
.center {
	text-align: center;
}
.inside_text_bold {
	text-align: left;
	color: #002448;
	font-weight: bold;
}
.annunc_text {
	text-align: center;
	color: #FFFFFF;
	background-color: #003366;
	font-weight: bold;
}
.cell_color_centered {
	background-color: #6388c7;
	text-align: center;
}
#foo {
	position: absolute;
	z-index: 99;
	left: 120px;
	top: 60px;
}

.active-box-resize {
	display: none;
}
.good{
	background-color: #0F0;
}

.bad
{ 
	background-color: #F00;
}

.style1 {
	text-align: center;
	color: #000000;
	background-color: #477DA9;
	font-weight: bold;
}
  
.style2 {
	text-align: center;
	border-width: 1;
}
.style3 {
	text-align: center;
	color: #000000;
	background-color: #477DA9;
	font-weight: bold;
}
.style4
{
	text-align: center;
	color: #000000;
	background-color: #477DA9;
	font-weight: bold;
}
.style4.ha
{
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	background-color: #477DA9;
}
.style4.td
{
	text-align: center;
	border-width: 1; 
	background-color: #477DA9;
}

a.upgrade {
	font-weight: bold; 
	color: #0F0;
}

a.email {
	font-weight: bold; 
	color: #128;
}

table.importconvert
{ 
	color: #123;
	border-width: 1;
}

table.new
{ 
	border-width: 1;
	border: 1;
	border-color: #0F0;
	width: "90%";
}
table.new ha {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #0F0;
	background-color: #477DA9;
}
table.new td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #0F0;
	background-color: #0F0;
}
table.update
{ 
	border-width: 1;
	border: 1;
	border-color: #F00;
	width: "90%";
}

table.update td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #F00;
	background-color: #F00;
}

table.update ha {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #F00;
	background-color: #477DA9;
}

table.asscotable {
 text-align:center;
 WIDTH:600%;
 BORDER:1; 
 PADDING:4; 
 BORDER-SPACING:0;


}
.title_text{
	size: 5;
	font-family: Arial;
	color: #FFFFFF;
}
.title_pane.td{
	background-color: #315573;
}

.contents_pane.td{
	background-color: #304D80;
	width: 15%;
	vertical-align: top;
}

.center_pane.td{
	background-color: #A9C6FA;
	width: 80%;
	vertical-align: top;
	text-align: center;
}

.cp_select_coloum {
	border-style: none;
	border-color: inherit;
	border-width: 1px;
	background-color: #315573;
}

.cell_border {
	border: 1px inset black;
}

.dark {
	text-align: left;
	background-color: #a1bace;
	border: 1px inset black;
}

.dark a {
	font-weight: bold;
}

.light {
	text-align: left;
	background-color: #d0dce7;
	border: 1px inset black;
}

.light a {
	font-weight: bold;
}

.dark-centered {
	text-align: center;
	background-color: #a1bace;
	border: 1px inset black;
}

.dark-centered a {
	font-weight: bold;
}

.light-centered {
	text-align: center;
	background-color: #d0dce7;
	border: 1px inset black;
}

.light-centered a {
	font-weight: bold;
}

.loader {
	margin: -10px 0 0 -250px;
	height: 100px;
	width: 20%;
	position: fixed;
	text-align: center;
	padding: 1em;
	top: 50%;
	left: 50%;
	margin: 0 auto 1em;
	z-index: 9999;
}

.yellow {
	text-align: center;
	background-color: yellow;
	border: 1px inset black;
}

.lime {
	text-align: center;
	background-color: lime;
	border: 1px inset black;
}

.red {
	text-align: center;
	background-color: red;
	border: 1px inset black;
}

.orange {
	text-align: center;
	background-color: orange;
	border: 1px inset black;
}

.lightgreen {
	text-align: center;
	background-color: lightgreen;
	border: 1px inset black;
}

.content_table {
    margin: 0 auto;
	width:100%;
	padding: 1px;
    border-collapse: collapse;
    border-spacing: 0;
}

.content_table-centered {
    margin: 0 auto;
	padding: 1px;
    border-collapse: collapse;
    border-spacing: 0;
	border: 0px;
}

.subheading {
	text-align: center;
	background-color: #477DA9;
	font-weight: bold;
}

.header {
	text-align: left;
	background-color: #5b86aa;
	font-weight: bold;
	border: 1px inset black;
	white-space: nowrap;
}

.header-centered {
	text-align: center;
	background-color: #5b86aa;
	font-weight: bold;
	border: 1px inset black;
}

.wrapper {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #d0dce7;
  color: #000000;
  border-radius: 2px;
  list-style-type: none;
}
.form-row {
display: flex;
justify-content: flex-end;
}

#mapcontainer {
	float:left;
	height:70vh;
	width: 100%;
}

#map {
	background: linear-gradient(0deg, rgba(36,0,0,1) 45%, rgb(249 209 89) 62%, rgb(81 151 173) 85%, rgb(2 92 179) 95%);
	height: 100%;
	width: 100%;
}

canvas {
  outline: none;
}

.maplibregl-terrain {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25px' height='25px' viewBox='-4 -4 25 25' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 1.996094 15.234375 L 7.054688 9.722656 L 10.566406 13.234375 L 14.292969 16.957031 L 15.394531 15.855469 L 11.632812 12.089844 L 16.003906 7.410156 L 22.988281 15.234375 L 24.21875 15.234375 L 24.21875 14.265625 L 16.027344 5.089844 L 10.527344 10.984375 L 7.007812 7.464844 L 0.78125 14.246094 L 0.78125 15.234375 Z M 1.996094 15.234375 '/%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 0.78125 19.140625 L 24.21875 19.140625 L 24.21875 20.703125 L 0.78125 20.703125 Z M 0.78125 19.140625 '/%3E%3C/g%3E%3C/svg%3E%0A");
}

.maplibregl-terrain-hide {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25px' height='25px' viewBox='-4 -4 25 25' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 0.78125 19.140625 L 24.21875 19.140625 L 24.21875 20.703125 L 0.78125 20.703125 Z M 0.78125 19.140625 '/%3E%3C/g%3E%3C/svg%3E%0A");
}

#controls {
	z-index: 1;
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: left;

}

#controls.hidden {
	display: none;
}

.all_controls {
	position: relative;
}

.all_controls.hidden {
	display: none;
}

.controls-icon {
	cursor: pointer;
	background-color: #7386D5;
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #7386D5;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
}

.controls-icon:hover  {
	  background-color: #7386D5;
}

.controls-hide-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='28px' height='28px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='M2,3 C2.55228,3 3,3.44772 3,4 L3,12 C3,12.5523 2.55229,13 2,13 C1.44772,13 1,12.5523 1,12 L1,4 C1,3.44772 1.44772,3 2,3 Z M7.29289,4.29289 C7.68342,3.90237 8.31658,3.90237 8.7071,4.29289 C9.09763,4.68342 9.09763,5.31658 8.7071,5.70711 L7.41421,7 L14,7 C14.5523,7 15,7.44772 15,8 C15,8.55228 14.5523,9 14,9 L7.41421,9 L8.7071,10.2929 C9.09763,10.6834 9.09763,11.3166 8.7071,11.7071 C8.31658,12.0976 7.68342,12.0976 7.29289,11.7071 L3.58578,8 L7.29289,4.29289 Z'/%3E%3C/svg%3E");
}

.controls-show-icon {
	background-image: url("data:image/svg+xml,%3Csvg width='28px' height='28px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='M14,3 C14.5523,3 15,3.44772 15,4 L15,12 C15,12.5523 14.5523,13 14,13 C13.4477,13 13,12.5523 13,12 L13,4 C13,3.44772 13.4477,3 14,3 Z M8.70711,4.29289 L12.4142,8 L8.70711,11.7071 C8.31658,12.0976 7.68342,12.0976 7.2929,11.7071 C6.90237,11.3166 6.90237,10.6834 7.2929,10.2929 L8.58579,9 L2,9 C1.44771,9 1,8.55228 1,8 C1,7.44772 1.44771,7 2,7 L8.58579,7 L7.29289,5.70711 C6.90237,5.31658 6.90237,4.68342 7.29289,4.29289 C7.68342,3.90237 8.31658,3.90237 8.70711,4.29289 Z'/%3E%3C/svg%3E%0A");
}

.toggle-button {
    padding: 0 .25em;

}
