<?php
/*
config.inc.php, holds the database configuration settings.
Copyright (C) 2015 Phil Ferland

This program is free software; you can redistribute it and/or modify it under the terms
of the GNU General Public License as published by the Free Software Foundation; either
version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program;
if not, write to the

   Free Software Foundation, Inc.,
   59 Temple Place, Suite 330,
   Boston, MA 02111-1307 USA
*/

define('WDB_DEBUG', 1); /* Debugging for development or bug fixes. 0 is off, 1 is on.*/

$config = array
(
    'configVersion'         =>   '2.0',
    'lastedit'              =>   '2015-08-29',

    #----------General Settings------------#
    'wifidb_tools'          =>   '/opt/wifidb/tools/',
    'wifidb_install'        =>   '/var/www/wifidb/',
    'smarty_path'           =>   '/usr/share/php/smarty/libs/',
    'timezn'                =>   'UTC',
    'root'                  =>   'wifidb',
    'WebSocketPort'         =>   9000,
    'hostname'              =>   '<-HOSTNAME FQDN->',
    'hosturl'               =>   'http://<-HOSTNAME FQDN->/',
    'dim'                   =>   DIRECTORY_SEPARATOR,
    'timetilldead'          =>   2,
    'admin_email'           =>   'wifidb@randominervals.com',
    'config_fails'          =>   3,
    'wifidb_from'           =>   'wifidb@randomintervals.com',
    'wifidb_from_pass'      =>   '<-SMTP From Password->',
    'wifidb_smtp'           =>   'smtp.example.com',
    'email_validation'      =>   1,
    'wifidb_email_updates'  =>   0,
    'GeoNamesLoopGiveUp'    =>   5000,
    'reserved_users'        =>   'WiFiDB::wifidb:Recovery:root:system',
    'dBmMaxSignal'          =>   '-30',
    'dBmDissociationSignal' =>   '-85',
    'verbose'               =>   1,
    'EnableAPIKey'          =>   1,

    #---------------- Daemon Info ----------------#
    'daemon'                =>   1,
    'log_level'             =>   0,
    'log_interval'          =>   0,
    'apache_user'           =>   'www-data',
    'apache_group'          =>   'www-data',
    'pid_file_loc'          =>   '/var/run/wifidb/',

    #-------------Themes Settings--------------#
    'default_theme'         =>   'vistumbler',
    'default_refresh'       =>   15,
    'default_timezone'      =>   0,
    'default_dst'           =>   0,
    'timeout'               =>   31536000, #Cookie Timeout, (86400 [seconds in a day] * 365 [days in a year])

    #-------------Console Viewer Settings--------------#
    'console_refresh'       =>   15,
    'console_scroll'        =>   1,
    'console_last5'         =>   1,
    'console_lines'         =>   10,
    'console_log'           =>   '/var/log/wifidbd',

    #---------------- Debug Info ----------------#
    'bypass_check'          =>   0,
    'rebuild'               =>   0,
    'bench'                 =>   0,

    #---------------- Tables ----------------#
    'settings_tb'           =>   'settings',
    'users_t'               =>   'user_imports',
    'pointers_table'        =>   'wifi_pointers',
    'signals_table'         =>   'wifi_signals',
    'gps_table'             =>   'wifi_gps',
    'user_logins_table'     =>   'user_info',
    'DB_stats'              =>   'DB_stats',
    'validate_table'        =>   'user_validate',
    'share_cache'           =>   'share_waypoints',
    'files'                 =>   'files',
    'files_tmp'             =>   'files_tmp',
    'annunc'                =>   'annunc',
    'annunc_comm'           =>   'annunc_comm',
    'gps_ext'               =>   '_GPS',
    'sep'                   =>   '-',

    #---------------- SQL Info ----------------#
    'srvc'                  =>   'mysql',
    'host'                  =>   '<-MySQL/MariaDB Host IP/Name->',
    'db_user'               =>   '<-SQL Username->',
    'db_pwd'                =>   '<-SQL Password->',
    'collate'               =>   'utf8_bin',
    'engine'                =>   'innodb',

    #---------------- Export Info ----------------#
    'open_loc'              =>   'https://raw.githubusercontent.com/RIEI/Vistumbler/master/Vistumbler/Images/open.png',
    'WEP_loc'               =>   'https://raw.githubusercontent.com/RIEI/Vistumbler/master/Vistumbler/Images/secure-wep.png',
    'WPA_loc'               =>   'https://raw.githubusercontent.com/RIEI/Vistumbler/master/Vistumbler/Images/secure.png',
    'KML_SOURCE_URL'        =>   'http://www.opengis.net/kml/2.2',
    'kml_out'               =>   'out/kml/',
    'vs1_out'               =>   'out/vs1/',
    'daemon_out'            =>   'out/daemon/',
    'gpx_out'               =>   'out/gpx/',
    'csv_out'               =>   'out/csv/',
    'region_out'            =>   '/out/region/',

    #---------------- Header and Footer Additional Info -----------------#
    'ads'                   => '', # <-- put the code for your ads in here www.google.com/adsense
    'header'                => '<meta name="description" content="A Wireless Database based off of scans from Vistumbler." /><meta name="keywords" content="WiFiDB, linux, windows, vistumbler, Wireless, database, DB, php, mysql" />',
    'tracker'               => '' # <-- put the code for the url tracker that you use here (ie - www.google.com/analytics )
);